body{
    background:	rgb(56,56,56);
}

#titulo{
    text-align: center;
}

#canvas{
    background:	rgb(0,0,0);
    justify-content: center;
    border: 3px solid red;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}